{% for entry in ntp_servers %}
ntp server {{ entry }}
{% endfor %}
{% for entry in dns_servers %}
ip name-server {{ entry }}
{% endfor %}
{% for entry in syslog_servers %}
logging host {{ entry }}
{% endfor %}
