{% set node = nodes[inventory_hostname] %}

{% for interface in node.interfaces %}
interfaces {
    replace:
    {{ interface.name }} {
	unit 0 {
            description "{{ interface.description }}"
            family inet {
                address {{ interface.ip }};
            }
        }    
    } 
}

{% endfor %}
