{% set node = nodes[inventory_hostname] %}

{% for interface in node.interfaces %}
default interface {{ interface.name }}
interface {{ interface.name }}
  description {{ interface.description }}
  no shutdown
{{ '  no switchport' if interface.name.startswith("Ethernet") else "" }}
  ip address {{ interface.ip }}
{% endfor %}
